/* body {background: #333;} */
body, ul {margin: 0; padding: 0;}
body {
    height: 100vh;
    width: 100vw;
}
ul {
    list-style-type: none;
    position: absolute;
    bottom: 0;
}
li {
  transition: opacity 0.5s ease-out;
}

#mensajes li {
    font-family: monospace;
    color: white;
    text-shadow: .5px .5px 1px black;
}

#mensajes li span {
    font-weight: bold;
    margin-right: .3em;
}

.hidden {
    opacity: 0 !important;
}
